<footer class="footer mt-5 w-100">
    <div class="container-fluid">
        <div class="row align-items-center">

            <div class="col-md-4 text-start">

                <img src="{{ url_for('static', filename='images/fozi1.png') }}"
                     alt="Fozi Foot"
                     style="height:40px; width:auto; margin-right:10px;">

                <strong>World Cup 2026</strong>

                <br>

                <small>
                    Contact : fozifoot@gmail.com
                </small>

                <br>

                <a href="/terms" class="text-decoration-none"> Conditions d'utilisation</a>   
                                                                                       
            </div>

            <div class="col-md-8 sponsor-zone">

                <a href="https://www.facebook.com/joseph.doirin"
                   target="_blank"
                   style="text-decoration:none; border:none;">

                    <img src="{{ url_for('static', filename='images/jmpd.jpg') }}"
                         alt="JMPD"
                         title="J.M PAUL DOIRIN - Partenaire officiel"
                         class="sponsor-logo"
                         style="border:none; outline:none;">

                </a>

                <a href="https://youtu.be/VCVje2sXku4"
                   target="_blank">

                    <img src="{{ url_for('static', filename='images/flay.png') }}"
                         alt="Flay Music"
                         title="Flay Music - Partenaire officiel"
                         class="sponsor-logo">

                </a>

            </div>

        </div>
    </div>
</footer>
