<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Vérifier le code</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container my-5" style="max-width:500px;">

    <div class="card shadow-lg border-0">
        <div class="card-header bg-dark text-white text-center fw-bold">
            Code de vérification
        </div>

        <div class="card-body">

            {% if error %}
                <div class="alert alert-danger text-center">
                    {{ error }}
                </div>
            {% endif %}

            <form method="POST">
                <label class="form-label">Code reçu</label>

                <input type="text"
                       name="code"
                       class="form-control mb-3"
                       required>

                <button class="btn btn-success w-100">
                    Vérifier
                </button>
            </form>

        </div>
    </div>

</div>

</body>
</html>